<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>
<section layout:fragment="content">
    <!--/*@thymesVar id="tour" type="ru.ssau.tourism.entities.Tour"*/-->
    <!--/*@thymesVar id="action_type" type="java.lang.String"*/-->
    <form method="POST" action="#" th:object="${tour}" th:action="@{'/tours/' + ${action_type}}"
          class="form-horizontal">
        <div class="row">
            <div class="form-group col-md-9">

                <div class="col-md-7">
                    <input type="hidden" th:field="*{id}"/>
                    <label class="col-xs-4 control-lable">
                        <input type="text" th:field="*{title}" placeholder="title"
                               class="form-control input-sm col-sm-4"/>
                    </label>
                    <label class="col-xs-4 control-lable">
                        <input type="text" th:field="*{price}" placeholder="price"
                               class="form-control input-sm col-sm-4"/>
                    </label>
                    <label class="col-xs-4 control-lable">
                        <input type="text" th:field="*{info}" placeholder="other info"
                               class="form-control input-sm col-sm-4"/>
                    </label>
                </div>
            </div>
            <div class="form-actions">
                <input type="submit" value="Подтвердить" class="btn btn-success"/>
                <a role="button" th:href="@{/tours}" class="btn btn-default">Отмена</a>
            </div>
        </div>
    </form>
</section>
</body>
</html>


