body {
    background-color: ghostwhite;
}

.main {
    background-color: white;
    border: 3px solid black;
    border-right: 5px;
    padding: 20px;
}

table {
    border-collapse: collapse;
}

.tables {
    padding: 0;
    display: inline-block;
    margin-left: 10px;
}

table td {
    padding: 0 5px;
    border: 1px solid #000;
    text-align: center;
}

aside {
    float: left;
    width: 100px;
    height: 700px;
    margin-left: 10px;
    margin-top: 20px;
}