<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.0/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" media="screen"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css"/>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>

    <script rel="script" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script rel="script" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>

    <script rel="script" src="https://cdnjs.cloudflare.com/ajax/libs/fetch/1.0.0/fetch.js"></script>

    <script th:src="@{/js/script.js}" rel="script"></script>
    <link rel="stylesheet" th:src="@{/css/styles.css}"/>
    <title>theworld🙈</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">На Главную</a>
            </div>
            <ul class="nav navbar-nav">

                <li><a th:href="@{/tours}">Туры</a></li>
                <li><a th:href="@{/tourists}">Туристы</a></li>
                <li><a th:href="@{/tourists-info}">Информация о туристах</a></li>
                <li><a th:href="@{/vouchers}">Путёвки</a></li>
                <li><a th:href="@{/seasons}">Сезоны</a></li>
                <li><a th:href="@{/payments}">Оплаты</a></li>

            </ul>
        </div>
    </nav>
</div>
<div class="container">
    <div layout:fragment="content">
        <p>Content goes here...</p>
    </div>
    <footer>
        <p>&copy; 2016 provided by ssua.ru</p>
    </footer>
</div>
</body>
</html>