<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title>Index</title>
</head>
<body>
<section layout:fragment="content">
    <div class="container">

        <div class="jumbotron">
            <h3>База данных Турагенства</h3>
            <p>Работу выполнила студент
            <th th:text=" ${author} ">Name</th>
            </p>
        </div>

        <div class="list-group">
            <a href="/tours" class="list-group-item">Туры</a>
            <a href="/tourists" class="list-group-item">Туристы</a>
            <a href="/tourists-infos" class="list-group-item">Информация о туристах</a>
            <a href="/vouchers" class="list-group-item">Путёвки</a>
            <a href="/seasons" class="list-group-item">Сезоны</a>
        </div>

    </div>
</section>
</body>
</html>