<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="jumbotron">
            <h3>Путёвки</h3>
        </div>

        <a th:href="@{/vouchers/add}" class="btn btn-success" role="button">Добавить запись</a>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Номер путёвки</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Номер сезона</th>
                <th>Начало сезона</th>
                <th>Конец сезона</th>
                <th>Действия</th>
            </tr>
            </thead>

            <tbody>
            <!--/*@thymesVar id="voucher" type="ru.ssau.tourism.entities.Voucher"*/-->
            <!--/*@thymesVar id="all_vouchers" type="java.lang.Iterable<ru.ssau.tourism.entities.Voucher>"*/-->
            <tr th:each="voucher: ${all_vouchers}">
                <td th:text="${voucher.id}">Номер путёвки</td>
                <td th:text="${voucher.tourist.name}">Имя</td>
                <td th:text="${voucher.tourist.surname}">Фамилия</td>
                <td th:text="${voucher.season.id}">Номер сезона</td>
                <td th:text="${voucher.season.startDate}">Начало сезона</td>
                <td th:text="${voucher.season.finishDate}">Конец сезона</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-default" role="button"
                           th:href="@{'/vouchers/edit?id=' + ${voucher.id}}">Изменить</a>

                        <a class="btn btn-default" role="button" th:onclick="'javascript:deleteAndRefresh(\'' +
                           ${voucher.id} +'\',\''+ ${#httpServletRequest.getRequestURI()} + '\');'">
                            Удалить
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>
